<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />    
    <security>
      <requestFiltering>
        <hiddenSegments >
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".shp" />
      <remove fileExtension=".dbf" />
      <remove fileExtension=".shx" />
      <remove fileExtension=".prj" />
      <mimeMap fileExtension=".shp" mimeType="text/plain" />
      <mimeMap fileExtension=".dbf" mimeType="text/plain" />
      <mimeMap fileExtension=".shx" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".prj" mimeType="application/octet-stream" />

  
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
    </staticContent>
  </system.webServer>


</configuration>
